@model StudentCreateModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_MyLayout";
}

<h1>Edit</h1>



<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly"></div>

    <input asp-for="Id" type="hidden" />
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>

    </div>


    <div>

        <button type="submit" class="btn btn-primary">Save data</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}