
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<select id="cmbStudent" asp-items="ViewBag.Students">
    <option value="">--Select--</option>

</select>

<div id="dvDetails"></div>


<select id="cmbCourses" asp-items="ViewBag.Courses">
    <option value="">--Select--</option>

</select>

<div id="dvDetails2"></div>


@section Scripts{

    <script>

        // on ready  
        $(function () {

            $('#cmbStudent').change(function () {
            
               var  studentId= $(this).val();


                $('#dvDetails').load('/Enrollments/StudentEnrollmentDetails/' + studentId);
            
            });

            $('#cmbCourses').change(function () {

                var courseId = $(this).val();


                $('#dvDetails2').load('/Enrollments/CourseEnrollmentDetails/' + courseId);

            });
        
        });

    </script>
}

